<%= stylesheet_link_tag 'our_slider_feed_insta.css' %>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide sliderImagesSection" id="itemslider">

        <button type="button" class="slick-prev slick-arrow arrow" aria-disabled="false" style="display: block;"></button>

        <div class="carousel-inner sliderImagesSection">
          <% @images.each_with_index do |instagram , index| %>
          <% if index == 0 %>
          <div class="item active ng-scope slick-slide slick-active">
            <div class="col-xs-4 col-sm-2 col-md-2 col-padding-left-right">
              <div class="imgContainerHover ng-scope slick-slide slick-active" >
                <%= image_tag instagram[0], :class=>"img-responsive center-block" %>
                <div class="imageLikesComments imageShowHoverData" onclick='openModal();currentSlide(<%= index + 1 %>);'>
                  <div class="wrap">
                    <% if instagram[4] == true %>
                    <div class="likes ng-binding"><%= instagram[5] %></div>
                    <% else %>
                    <div class="likes ng-binding"><%= instagram[3] %></div>
                    <% end %>
                    <div class="comments ng-binding"><%= instagram[2] %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% else %>
          <div class="item ng-scope slick-slide slick-active">
            <div class="col-xs-4 col-sm-2 col-md-2 col-padding-left-right">
              <div class="imgContainerHover ng-scope slick-slide slick-active" >
                <%= image_tag instagram[0], :class=>"img-responsive center-block" %>
                <div class="imageLikesComments imageShowHoverData" onclick='openModal();currentSlide(<%= index + 1 %>);'>
                  <div class="wrap">
                    <% if instagram[4] == true %>
                    <div class="likes ng-binding"><%= instagram[5] %></div>
                    <% else %>
                    <div class="likes ng-binding"><%= instagram[3] %></div>
                    <% end %>
                    <div class="comments ng-binding"><%= instagram[2] %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>

        </div>

        <button type="button" class="slick-next slick-arrow arrow" style="display: block;" aria-disabled="false"></button>

        <div id="slider-control">
          <%= link_to "#itemslider", :class=> "carousel-control slick-prev slick-arrow arrow", :data=>{ :slide=>"prev"} do %>
          <%= image_tag "left.svg", :alt=>"Left", :class=>"img-responsive" %>
          <% end %>
          <a class="right carousel-control slick-next slick-arrow arrow" href="#itemslider" data-slide="next">
            <%= image_tag "right.svg", :alt=>"Right", :class=>"img-responsive"%>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>


</style>

<div id="myModal" class="carouselGallery-wrapper modal">

  <span id="closeModal" onclick="closeModal()" class="icons close-icon"></span>



  <div id="expandContainer" class="carouselGallery-modal">
    <span class="carouselGallery-left disabled">
      <span class="icons icon-arrow-left6" onclick="plusSlides(-1)"></span>
    </span>
    <span class="carouselGallery-right">
      <span class="icons icon-arrow-right6" onclick="plusSlides(1)"></span>
    </span>
    <div class="container">

      <% @images.each_with_index do |instagram , index| %>


      <div class="carouselGallery-scrollbox expandMode" style="max-height:849px">
        <div class="carouselGallery-modal-image mySlides">
          <%= link_to "https://www.instagram.com/p/#{instagram[1]}", :target=> "_blank" do %>
          <%= image_tag instagram[0]  %>
          <% end %>

        </div>
        <div class="carouselGallery-modal-text myComments">



          <a class="userImage" style="width: 33px;height: 33px;display: inline-block;">
            <%= image_tag @photo_user_data[index][2] , :style=>"width: 100%;height: 100%;border-radius: 50%;border: 1px solid hsla(0, 0%, 9%, .07);" %>
          </a>

          <span class="carouselGallery-modal-username" style="height: 24px;display: inline-block;vertical-align: top;width: auto;padding-left: 4px;">
            <a href="https://instagram.com/p/<%= instagram[1] %>/"><%= @photo_user_data[index][1] %></a>
          </span>
          <span class="carouselGallery-modal-location"><%= @photo_user_data[index][3] %></span>


          <span class="carouselGallery-item-modal-likes">

            <div id="infoMedia">
              <div id="mediaLikesCount">
                <i></i>
                <% if instagram[4] == true %>
                <div class="ng-binding"><%= instagram[5] %></div>
                <% else %>
                <div class="ng-binding"><%= instagram[3] %></div>
                <% end %>
              </div>
              <div id="CommentsCount">
                <i></i>
                <div class="ng-binding"><%= instagram[2] %></div>
              </div>
            </div>

          </span>

          <div class="box_comments">

            <span class="carouselGallery-modal-imagetext" style="margin-bottom: 20px;">
              <p><span style="font-weight: 700;"><%= @photo_user_data[index][1] %></span>
                <%= @photo_user_data[index][0] %>
              </p>
            </span>

            <% if @total_comments[index][0] > 0 %>
            <% total = @total_comments[index][0] %>
            <% for j in 0..total-1 %>
            <span class="carouselGallery-modal-imagetext">
              <p><span style="font-weight: 700;"><%= @comments[@start][1] %></span>
                <%= @comments[@start][0] %>
              </p>
            </span>

            <% @start += 1 %>
            <% end %>
            <% end %>

          </div>



        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>
